.search-container {
    padding: 10px;
}

.search-input {
    border-radius: 50px;
    padding: 0 15px;
    background-color: var(--light);
}

.search-btn {
    padding: 6px;
    border-radius: 12px;
    background-color: var(--fade-theme);
    color: var(--light);

    >img {
        width: 30px;
    }
}